#login{
    background-image:url('../../images/bg/3.jpg');
    background-size:cover;
    height:100vh;
}

#sign-in:after,#login:after{
    clear:both;
    content:"";
    display:block;
}


#sign-in{
    width:90%;
    max-width:330px;
    min-width:180px;
    margin:0 auto;
    padding-bottom:2%;
    padding-left:2%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    padding-top:3%;
}

#sign-in img{
    width:150px;
}

#sign-in h1{
    margin-left:2%;
    color:#6ecaef;
}

#sign-in h2,#sign-in h3{
    color:#6ecaef;
    display:none;
}

.log-form{
    padding:0px;
    width:100%;
    max-width:300px;
    float:left;
}

.log-form input[type="text"],.log-form input[type="email"]{
    width:90%;
    max-width:340px;
    min-width:100px;
    height:30px;
    border:1px solid #666666;
    padding-left:5px;
    padding-right:20px;
}

.log-form input[type="password"]{
    width:87%;
    max-width:330px;
    min-width:100px;
    height:30px;
    border:1px solid #666666;
    padding-left:5px;
    padding-right:30px;
}

.log-form input:focus{
    border:1px solid #6ecaef;
    box-shadow: 0 0 5px #6ecaef;
}


/*font awesome on input*/
#font-label {
    position: relative;
}

#font-label .fa-user,#font-label .fa-lock{
    color: #666;
    top: 2px;
    right: 10px;
    position: absolute;
}

#font-label .fa-calendar {
    color: #666;
    top: 10px;
    right: 50px;
    position: absolute;
}

#font-label .fa-envelope{
    color: #666;
    top: 10px;
    right: 50px;
    position: absolute;
}
/*end of font-awesome on input*/

.log-form a{
    text-decoration:none;
    font-size:13px;
}
.log-form a:hover{
    text-decoration:underline;
}


 
 @media (max-width: 820px) { 
    #sign-in{
        width:98%;
        float:none;
        margin-bottom:8%;
    }
    #sign-in h1{display:none;}
    #sign-in h2{display:block;}
    
 }
 
 
  @media (max-width: 500px) { 
    #sign-in h2{display:none;}
    #sign-in h3{display:block;}
    
    #sign-up table tr td input[type="password"]{width:90%;}
    #sign-up table tr td input[type="password"]{width:90%;}
  }
 
 
 
 
  @media (max-width: 380px) { 
      #login{ background-image:none;}
  }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 